<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.demo.mapper.TaskMapper">

    <resultMap id="MyJob" type="com.kevin.demo.entity.MyJob">
        <result	column="id" property="id"></result>
        <result column="task_group" property="taskGroup"></result>
        <result column="task_name" property="taskName"></result>
        <result column="cron" property="cron"></result>
        <result column="status" property="status"></result>
        <result column="gmt_create" property="gmt_create"></result>
        <result column="gmt_modify" property="gmt_modify"></result>
    </resultMap>

    <select id="selectTaskByStaus" parameterType="java.lang.String" resultMap="MyJob">
            select * from task_tb where status = #{status}
    </select>


    <insert id="insertTask" parameterType="com.kevin.demo.entity.MyJob">
        insert into task_tb (task_group,task_name,cron,status,gmt_create,gmt_modify)
          values (#{myJob.taskGroup} ,#{myJob.taskName} ,#{myJob.cron},#{myJob.status},#{myJob.gmt_create},#{myJob.gmt_modify})
    </insert>

    <select id="selectTaskByNameAndGroup" parameterType="hashMap" resultMap="MyJob">
        select * from task_tb where task_name = #{name} and task_group = #{group}
    </select>

    <select id="selectAllJob" resultMap="MyJob">
          select * from task_tb
    </select>

    <update id="updateTaskCron" parameterType="com.kevin.demo.entity.MyJob">

    </update>

    <update id="updateTaskStatus" parameterType="com.kevin.demo.entity.MyJob">
          update task_tb set status = #{myJob.status} where task_name = #{myJob.taskName}  and task_group = #{myJob.taskGroup}
    </update>

    <update id="updateTaskInfo" parameterType="com.kevin.demo.entity.MyJob" >

    </update>

    <delete id="deleteTask" parameterType="map">
          delete from task_tb where task_name = #{name} and task_group = #{group}
    </delete>

</mapper>